<!DOCTYPE html>

<html>

<head>
    <title>Acuse</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            border-bottom: 2px solid;
            border-top: 2px solid;
            text-align: left;
            padding: 10px;
        }

        td {
            border-bottom: 1px solid;
            text-align: left;
            padding: 8px;
        }

        body {
            font-family: geomanist;
        }
    </style>
</head>

<body>
    <div style="text-align: right;">
        <h3>ACUSE DE REPORTE DE CUMPLIMIENTO</h3>
        <p>PLAN DE ACCIÓN PARA FORTALECER LOS PROCESOS DE CONTRATACIONES PÚBLICAS EN MATERIA DE ADQUISICIONES,
            ARRENDAMIENTOS Y SERVICIOS DEL SECTOR PÚBLICO</p>
    </div>
    <div>
        <p>22/octubre/2024; 14:55:05</p>
    </div>
    <br>
    <div>
        <h4>Sistema Estatal Anticorrupción de ${estado}</h4>
        <p>La emisión del presente acuse por parte de la Secretaría Ejecutiva del Sistema Nacional Anticorrupción
            atiende al reporte de información en el Tablero de Seguimiento a la Acción 3: “Homologar el marco estatal de
            contrataciones públicas, priorizando el fortalecimiento de la regulación relativa a excepciones para
            realizar contrataciones por vía de adjudicación directa” del Plan de Acción para fortalecer los procesos de
            contrataciones públicas en materia de adquisiciones, arrendamientos y servicios del sector público,
            consistente en los siguientes datos:</p>
    </div>
    <br>
    <div>
        <table>
            <tr>
                <th>Organo superior de fiscalización</th>
                <th>Reporte: Sí</th>
            </tr>
            <tr>
                <td>Criterios considerados</td>
                <td>Enlaces</td>
            </tr>
            <tr>
                <td>3.1.1, 3.1.2, 3.1.3, 3.1.1, 3.1.5</td>
                <td>- 3.1 <br> - 3.2 </td>
            </tr>
        </table>
    </div>
    <div>${Object.keys(datosEstado)}</div>
</body>

</html>